.catalogueContainer a {
  text-decoration: none !important;
  margin: 5px 10px;
}

.imageContainer span span {
  padding: 85% 0px 0px !important;
}

.chevronContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.bodyTypeFilter label {
  display: block;
}

@media only screen and (max-width: 600px) {
  .chevronContainer {
    display: none !important;
  }

  .bodyTypeFilter {
    margin: 25px 0;
  }
}

@media only screen and (min-width: 769px) {
  .bodyTypeFilter {
    width: 15%;
    margin: 25px 0;
  }
}
